<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/enfoco.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.
            Contadora Publica Nacional.
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy una persona muy entusiasta, me gusta aprender todo el tiempo, solidaria con los conocimientos. 
                Trabajar en equipo es mi fuerte y reconcer los logros obtenidos por el grupo.

            </p>
        </span>
    </div>
</div>

